body{
    background-color: #272727 !important;
}
.container{
    
    
    width: 40vw !important;
    margin-top: 7rem;
}

.postbox{
    background-color: #272727;
    text-align: center;
    border: 2px solid #fee600;
    border-radius: 10px;
}

img{
    
    width: 100%;
    
}

.caption{
    color: white;
    text-align: left;
}

.like{
    width: 50%;
    
}

.like div{
    font-size: 1.5rem;
    color: #fee600;
    
}

.uname{
    width: 25%;
    color: #fee600;
    
}