body{
    background-color: #272727 !important;
}
h1{
    text-align: center;
    color: #FEE600;
    margin-top: 10vh !important;
}

.container1{
    width: 30% !important;
    margin: 10vh;
    border: 1px solid black;
    height: 300px !important;
    background-color: #FEE600;
}

#or{
    margin-top: 4%;
    
}

form{
    margin-top: 4rem;
}

 #submit1{
   
    width: 100px;
}

#submit2{
    width: 100px;
    
}